<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">单选</label>
    <div class="layui-input-block">
        <input name="radio" type="radio" checked="checked" value="1" title="男">
        <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
            <div>男</div>
        </div>
        <input name="radio" type="radio" checked="checked" value="2" title="女">
        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
            <div>女</div>
        </div>
    </div>
</div>